@import "../core/shared/variables";

.hidden {
    display: none !important;
}

.right_section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    form {
        display: grid;
        gap: 1rem;
        width: 350px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);

        button {
            grid-column: 2 span;
            font-size: $regular_font_size;
            height: 3.125rem;
            color: $white;
            border-radius: .4rem;
            background-color: $very_dark_violet;
            cursor: pointer;
        }
    }
}

label {
    color: $very_dark_violet;
    margin-bottom: .3rem;
    text-transform: uppercase;;
}

input {
    padding: .5rem;
    font-size: $regular_font_size;
    border: 1px solid $dark_grayish_violet;
    border-radius: .4rem;

    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &::placeholder {
        font-family: inherit;
        color: $dark_grayish_violet;
    }

    &:focus {
        outline-color: $very_dark_violet;
    }
}

.card_name_entry {
    display: flex;
    flex-direction: column;
    grid-column: 2 span;
}

.card_number_entry {
    display: flex;
    flex-direction: column;
    grid-column: 2 span;
}

.card_information {
    display: flex;
    grid-column: 2 span;
    gap: 1rem;
}

.card_date_entry {
    display: flex;
    flex-direction: column;
    grid-column: 1 span;

    .expiration_entry {
        display: flex;

         div {
            flex-direction: column;

            input {
                width: 4.4rem;
                margin-inline: .5rem;
                margin-left: 0;
            }
         }
    }
}

.card_cvc_entry {
    display: flex;
    flex-direction: column;
    grid-column: 1 span;
    
    input {
        width: calc(100% - 1rem);
    }
}

.thanks {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    h1 {
        text-transform: uppercase;
        letter-spacing: .2rem;
    }

    p {
        font-size: $regular_font_size;
        color: $dark_grayish_violet;
    }

    button {
        color: $white;
        width: 100%;
        border-radius: .4rem;
        padding: 1rem;
        font-size: $regular_font_size;
        background-color: $very_dark_violet;
        cursor: pointer;
    }
}

.error {
    border: 2px solid $red;
}

.error_text {
    gap: 0;

    &::after {
        content: "can't be empty";
        color: $red;
        margin-top: .2rem;
    }
}

@media screen and (max-width: 905px) {
    .right_section {
        margin-top: 6rem;
    }
}