@import "../core/shared/variables";

.left_section {
    min-height: 100vh;
    width: 40%;
    background-image: url("./img/bg-main-desktop.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.cards {
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    left: 100%;
    transform: translate(-50%, -50%);
}   

.front_card {
    position: relative;
    transform: translate(-6.25rem);
}

.credit_card_logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.credit_card_number {
    position: absolute;
    color: $white;
    bottom: 5rem;
    left: 1rem;
    letter-spacing: .2rem;
}

.credit_card_info {
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    right: 3.5rem;
    display: flex;
    color: $white;
    justify-content: space-between;
}

.back_card {
    position: relative;
}

.credit_card_cvc {
    position: absolute;
    right: 3rem;
    top: 6.9rem;
    color: $light_grayish_violet;
}

@media screen and (max-width: 1115px) {
    .front_card {
        width: 300px;

        img {
            width: 300px;
        }
    }

    .card_container {

        .credit_card_logo {
            width: 50px;
        }

        .credit_card_number {
            font-size: 1.1rem;
        }
    }

    .back_card {
        width: 300px;

        img {
            width: 300px;
        }

        .credit_card_cvc {
            top: 41%;
            right: 11%;
        }
    }
}

@media screen and (max-width: 905px) {
    .left_section {
        width: 100%;
        min-height: 35vh;
        background-image: url("./img/bg-main-mobile.png");
    }

    .cards {
        flex-direction: column-reverse;
        left: calc(50% + 35px);
        top: 60%;
        gap: .5rem;
    }

    .front_card {
        width: 280px;
        transform: translateX(-70px);
        z-index: 99;

        img {
            width: 280px;
        }
    }

    .card_container {

        .credit_card_logo {
            width: 50px;
        }

        .credit_card_number {
            font-size: 1.1rem;
        }
    }

    .back_card {
        width: 280px;
        transform: translateY(4.375rem);

        img {
            width: 280px;
        }

        .credit_card_cvc {
            top: 41%;
            right: 11%;
        }
    }
}